<h1>Create new question</h1>

<form action="/tests/<%= params[:test_id] %>/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="question[test_id]" id="question-test_id" value="<%= params[:test_id] %>">

  <p>
    <label for="question-question">Question:</label>
    <input type="text" name="question[question]" id="question-question">
  </p><br>

  <input type="submit" value="Create">
</form>
