<div class="row justify-content-center mt-3">

  <h2><%= t('.new_badges') %></h2>
  <div class="w-100"></div>

  <div class="col col-md-3">
    <%= render 'form' %>

    <%= link_to t('.all_badges'), admin_badges_path %>
  </div>
</div>
