<tr>
  <th scope="row" class="align-middle">
    <%= link_to gist.question.body.truncate(25), admin_question_path(gist.question) %>
  </th>
  <td class="align-middle"><%= link_to gist.url_id, "https://gist.github.com/Akalaimakalai/#{gist.url_id}", target:"_blank" %></td>
  <td class="align-middle"><%= gist.user.email %></td>
  <td class="align-middle"><%= link_to t('.destroy'), admin_gist_path(gist),
                                     method: :delete,
                                     data: { confirm: t('.confirm') } %></td>
</tr>
