<footer>
<div class="container text-muted">
  <div class="row">
    <div class="col-md-auto">
      <p>Brief Project Description.</p>
      <p>
        The project is being created as part of the Rails Fundamentals course.
        Online school:
        <%= link_to 'Thinknetika', "https://thinknetica.com", target: "_blank" %>.<br>
        Project's name:
        <%= git_url "Akalaimakalai", 'TestGuru' %>.
      </p>
    </div>
    <div class="col-md-auto">
          Main tasks:
        <ul>
          <li>create tests</li>
          <li>edit tests</li>
          <li>pass tests</li>
        </ul>
    </div>
    <div class="w-100"></div>
    <div class="col-md-auto">
        <%= link_to 'Akalaimakalai', "https://github.com/Akalaimakalai", target: "_blank" %>
        <%= today_year %>
    </div>
  </div>
</div>
</footer>
