<p class="text-danger">
  К сожалению, вы набрали только <%= @result.calculate_result%>%<br>
  Тест провален.
</p>

<div class="row justify-content-center mt-5 text-center">
  <%= link_to 'Понятненько', root_path, class:"btn btn-danger" %>
</div>
