<p class="text-danger">
  Unfortunately, your score is <%= @result.calculate_result%>%<br>
  The test is failed.
</p>

<div class="row justify-content-center mt-5 text-center">
  <%= link_to 'Okay...', root_path, class:"btn btn-danger" %>
</div>
