<p class="text-success">
  Congratulations, your score is <%= @result.calculate_result %>%<br>
  The test is completed successfully!
</p>

<div class="row justify-content-center mt-5 text-center">
  <%= link_to 'Easy', root_path, class:"btn btn-success" %>
</div>
