<%= form_with model: [:admin, @test, @question], local: true do |question| %>
  <%= render 'shared/errors', resource: @question %>
  
  <p><%= question.text_area :body %></p>
  <%= question.submit %>
<% end %>
