<%= form_with model: [:admin, @test, @question], local: true do |question| %>
  <div class="row text-left">
    <div class="col">
      <%= render "devise/shared/error_messages", resource: @question %>
     </div>
  </div>
  
  <p><%= question.text_area :body %></p>
  <%= question.submit %>
<% end %>
