nav.user {
  text-align: right;
}

nav.hat {
  text-align: center;
  padding-bottom: 15px;

  h1 {
    font-size: 50px;
  }
}

nav.admin {
  font-size: 24px;
  color: white;
  background-color: blue;
  padding: 15px;
}
